:root {
  background: #f7f9fefb;
  scroll-behavior: smooth;

  --wick-transition-time: 0.3s;

  --wick-gray: #c8c8c8;
  --wick-small-margin: 4px;
  --wick-medium-margin: 8px;
  --wick-large-margin: 16px;
}

:root,
body {
  height: 100%;
}

#__next {
  transition: all 0.35s;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  #__next {
    padding-left: 0;
  }
}

@media screen and (min-width: 960px) {
  #__next {
    padding-left: 378px;
    height: 100%;
  }
}

[data-theme="light"] {
  --wick-white: #fff;
  --wick-blue: #397fff;
  --wick-green: #57bd6a;
}

[data-theme="dark"] {
}
