:root {
  --wick-gray: #c8c8c8;
  background: #f7f9fefb;
  scroll-behavior: smooth;
}

:root,
body {
  height: 100%;
}

#__next {
  transition: all 0.35s;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  #__next {
    padding-left: 0;
  }
}

@media screen and (min-width: 769px) {
  #__next {
    padding-left: 378px;
    height: 100%;
  }
}

[data-theme="light"] {
}

[data-theme="dark"] {
}
