:root {
  scroll-behavior: smooth;
  background: var(--wick-bg);

  --wick-border-radius: 8px;

  --wick-transition-time: 0.3s;

  --wick-gray: #c8c8c8;
  --wick-small-margin: 4px;
  --wick-medium-margin: 8px;
  --wick-large-margin: 16px;
}

.ant-drawer-mask {
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: saturate(180%) blur(20px);
}

:root,
body {
  height: 100%;
}

#__next {
  transition: all 0.35s;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  #__next {
    padding-left: 0;
  }
}

@media screen and (min-width: 960px) {
  #__next {
    padding-left: 378px;
    height: 100%;
  }
}

[data-theme="light"] {
  --wick-bg: #f7f9fefb;
  --wick-white: #fff;
  --wick-blue: #397fff;
  --wick-green: #57bd6a;
}

[data-theme="dark"] {
}

@keyframes floating {
  0% {
    transform: translate(0, -4px);
  }

  50% {
    transform: translate(0, 4px);
  }

  100% {
    transform: translate(0, -4px);
  }
}
